.avatar {
  margin: 0;
  width: 505px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.avatar__image {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}

.avatar__column {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.avatar__information {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.avatar__name {
  margin: 0;
  font-family: Poppins, Inter, Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 12px;
  color: #212121;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.avatar__description {
  margin: 0;
  font-family: Poppins, Inter, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  opacity: 70%;
  color: #212121b2;
  text-overflow: ellipsis;
  overflow: hidden;
  line-clamp: 3;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.avatar__button {
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #212121;
  opacity: 70%;
  width: 200px;
  height: 16px;
  display: flex;
  align-items: center;
  text-align: left;
  gap: 8px;
}
.avatar__button:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .avatar__button {
    justify-content: center;
  }

  .avatar {
    width: 288px;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    /* background-color: blue; */
  }
  .avatar__column {
    align-items: center;
    /* background-color: green; */
  }

  .avatar__information {
    align-items: center;
    /* background-color: brown; */
    padding-bottom: 32px;
  }

  .avatar__image {
    width: 80px;
    height: 80px;
  }

  .avatar__name {
    font-size: 20px;
    line-height: 20px;
  }
}
