.cards {
  max-width: 1280px;
  padding: 20px 0 40px;
  margin: 0 80px;
  display: grid;
  grid: repeat(2, 445px) / repeat(3, 413px);
  /* or you can do this:
  grid-template-columns: repeat(3, 413px);
  grid-template-rows: repeat(2, 445px); */
  gap: 36px 20px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 880px) {
  .cards {
    min-width: 288px;
    padding: 20px 0;
    margin: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    /* background-color: blueviolet; */
  }
}

@media screen and (min-width: 880px) and (max-width: 1320px) {
  .cards {
    grid: repeat(3, 445px) / repeat(2, 413px);
  }
}

@media screen and (min-width: 630px) and (max-width: 880px) {
  .cards {
    padding: 20px 0;
    margin: 0 80px;
  }
}
