.header {
  background-color: #ffffff;
  height: 46px;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.04px;
  letter-spacing: 0.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header__logo {
  height: 26px;
  width: 94px;
}
