.modal {
  visibility: hidden;
  opacity: 0;
  display: none;
  transition: visibility 0s linear 2s, opacity 0.5s linear;
  margin: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  &::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: black;
    opacity: 50%;
  }
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s ease-out;
}

.modal__image-container {
  margin: 0;
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  max-width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__image {
  border-radius: 8px;
  max-width: 100%;
  max-height: 100%;
}

.modal_image-title-container {
  margin: 0px;
  margin-right: auto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  background: #212121;
  border-radius: 8px;
  width: auto;
  padding: 4px 8px;
  color: #ffffff;
}
.modal_image-title {
  margin: 0px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}
.modal__close-image-button {
  padding: 0;
  background-color: transparent;
  background-image: url("../images/close-image.svg");
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0%;
  right: -40px;
  align-self: center;
  justify-self: center;
  opacity: 1005;
}

.modal__close-image-button:hover {
  opacity: 40%;
  cursor: pointer;
}

.modal__container {
  margin: 0;
  background-color: #ffffff;
  opacity: 100%;
  /* background-color: red; */
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
}

.modal__header {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 36px;
  align-items: center;
}
.modal__title {
  margin: 0;
  font-size: 32px;
  line-height: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__input-label {
  font-size: 16px;
  font-weight: 500;
  line-height: 17.6px;
  text-align: left;
  color: #212121b2;
  opacity: 70%;
  margin-bottom: 8px;
}

.modal__input {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border-radius: 8px;
  border-color: #21212166;
  opacity: 40%;
  padding: 16px 0 16px 12px;
  margin-bottom: 32px;
}

.modal_imput::placeholder(:hover) {
  color: #2121214d;
  opacity: 30%;
}
/* .modal_imput:hover(::placeholder) {
  color: #2121214d;
  opacity: 30%;
} */
.modal__input:hover {
  border-color: #212121;
  opacity: 100%;
  cursor: pointer;
}

/* ::placeholder {
  color: #2121214d;
  opacity: 100%;
} */

.modal__input:not(:placeholder-shown) {
  color: #212121;
  opacity: 100%;
}

.modal__button-save {
  background-color: #212121;
  max-width: 156px;
  height: 52px;
  border-radius: 8px;
  color: #fcf5e5;
}
.modal__button-save:hover {
  opacity: 80%;
  cursor: pointer;
}
.modal__button-close {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 40%;
}
.modal__button-close:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .modal {
    margin: 0;
    padding: 0;
  }
  .modal__container {
    max-width: 300px;
    padding: 22px 12px;
  }
  .modal__header {
    max-width: 276px;
    padding-bottom: 34px;
  }
  .modal__input {
    font-size: 16px;
    line-height: 16px;
    max-width: 276px;
    margin-bottom: 24px;
  }

  .modal__button-save {
    max-width: 276px;
  }
  .modal__title {
    font-size: 20px;
    line-height: 20px;
  }

  .modal__close-image-button {
    top: 41px;
    right: 16px;
  }

  .modal_image-title {
    font-size: 16px;
    line-height: 19.2px;
  }
}

@media screen and (min-width: 320px) and (max-width: 880px) {
  .modal__container {
    margin: 0 10px;
    width: 95%;
  }
}
